@media screen and (max-width:0px) {
    .item{
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    .item{
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .item{
        justify-content: center;
        text-align: center;
    }
}